@import "../../styles/theme.scss";

.Button {
	width: 100%;
	height: 100%;

	padding: 1rem;
	border: none;
	border-radius: 2rem;

	color: #020202;
	background-color: rgba(101, 220, 199, 0.8);

	cursor: pointer;
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.5rem;
	text-transform: capitalize;

	.icon {
		width: 1.5rem;
		height: 1.5rem;
		position: absolute;
		left: 2.5rem;
	}
}
