.VehicleForm {
	display: flex;
	flex-direction: column;
	max-width: 20rem;

	padding: 2.5rem;
	text-align: left;
	background-color: #ececec;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	transition: color 0.15s ease, border-color 0.15s ease;

	h2 {
		margin: 0 0 1rem 0;
		font-size: 1.5rem;
	}

	p {
		margin: 0;
		font-size: 1rem;
		line-height: 1.5;
	}

	label {
		font-size: 0.8125rem;
		font-weight: 400;
		margin-top: 0.5rem;
		margin-left: 0.5rem;
	}

	.buttondiv {
		width: 100%;
		margin-top: 2rem;

		display: flex;
		flex-direction: row-reverse;
	}
}
