@import "../../styles/break-points.scss";

.Vehicles {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;

	padding: 1rem 2rem;

	.searchDiv {
		display: flex;
		justify-content: space-between;

		width: 100%;
		max-width: 50rem;
		height: 2.5rem;
	}

	.cardsDiv {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-items: center;
		align-items: center;
		gap: 1rem;
	}

	@include tablet {
	}

	@include laptop {
	}

	@include desktop {
	}

	@include desktop-large {
	}
}
